<div class="topnav body">
  <a class="active" (click)="refreshPage()"
    ><i class="fa fa-fw fa-home"></i> Home</a
  >
  <a
    (click)="NavigateDailyReport()"
    *ngIf="authservice.currentUser.userName != ''"
    >Daily Report</a
  >
  <a (click)="NavigateSlot()" *ngIf="authservice.currentUser.userName != ''"
    >Book Slot</a
  >
  <div class="topnav-centered" *ngIf="authservice.currentUser.userName === ''">
    <a class="active" (click)="refreshPage()">Vaccine Management</a>
  </div>

  <div class="topnav-right">
    <a
      (click)="NavigateVaccinesList()"
      *ngIf="authservice.currentUser.userName != ''"
      >View Vaccines</a
    >
    <a
      (click)="NavigateViewRegistered()"
      *ngIf="authservice.currentUser.isAdmin === 'Y'"
      >View Registered Users</a
    >
    <a
      (click)="NavigateViewAll()"
      *ngIf="authservice.currentUser.isAdmin === 'Y'"
      >View Users</a
    >
    <a
      *ngIf="authservice.currentUser.userName === ''"
      (click)="NavigateSignIn()"
      >Log In</a
    >
    <a
      *ngIf="authservice.currentUser.userName === ''"
      (click)="NavigateRegister()"
      >Sign Up</a
    >
    <a
      *ngIf="authservice.currentUser.userName != ''"
      href="#"
      (click)="logout()"
      >Log Out</a
    >
    <a *ngIf="authservice.currentUser.userName != ''"
      ><i class="fa fa-fw fa-user"></i>
      {{ authservice.currentUser.userName }}</a
    >
  </div>
</div>
<div class="main_div">
  <div class="card-group mt-3">
    <div class="card bg-success">
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTC62Xy5TVj4_7VSHzB7DL6BLblJE1ulU2WXw&usqp=CAU"
        style="height: 50%"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Vaccines work</h5>
        <p class="card-text">
          Immunization is a key component of primary health care and an
          indisputable human right. It’s also one of the best health investments
          money can buy. Vaccines are also critical to the prevention and
          control of infectious disease outbreaks. They underpin global health
          security and will be a vital tool in the battle against antimicrobial
          resistance.
        </p>
        <button [disabled]="authservice.currentUser.userName===''" (click)="NavigateSlot()" class="btn btn-danger">Book Your Slot</button>
      </div>
    </div>
    <div class="card bg-info">
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQlUeCvY6NOCfvPv3TnZC_45dX4bNYqkcGEZQ&usqp=CAU"
        style="height: 50%"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Vaccines</h5>
        <p class="card-text">
          A vaccine is a biological preparation that provides active acquired
          immunity to a particular infectious disease. A vaccine typically
          contains an agent that resembles a disease-causing microorganism and
          is often made from weakened or killed forms of the microbe, its
          toxins, or one of its surface proteins.
        </p>
        <button [disabled]="authservice.currentUser.userName===''" (click)="NavigateVaccinesList()" class="btn btn-success">Check vaccines Available</button>
      </div>
    </div>
    <div class="card bg-primary">
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcREXdAITlg-uV5q1jG6Abxbr2dVcdjOCr_JXg&usqp=CAU"
        class="card-img-top"
        style="height: 50%"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Vaccination Stats</h5>
        <p class="card-text">
          Vaccines for COVID-19 are critical tools for helping to bring the
          pandemic under control when combined with effective testing, treatment
          and existing prevention measures. Vaccinating the world against this
          disease is the largest vaccine procurement and supply operation in
          history and UNICEF is leading this effort on behalf of the Global
          COVAX Facility.
        </p>
        <button [disabled]="authservice.currentUser.userName===''" (click)="NavigateDailyReport()" class="btn btn-success">Vaccination stats</button>
      </div>
    </div>
  </div>
  <div style="height: 300px" class="card bg-dark text-white mt-2">
    <img
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSAd-ql6yKoXHXHHugei_dGhpJLWWdRdj-6GA&usqp=CAU"
      class="card-img"
      alt="..."
    />
    <div class="card-img-overlay">
      <h4 class="card-title text-info">Vaccine Management</h4>
      <p class="card-text text-dark">
        <strong>
          <p class="text-dark">In the past 60 years, vaccines helped eradicate one disease (smallpox) and are close to eradicating another (polio).</p>
        <p>Vaccines prevent more than 2.5 million deaths each year.</p>
        <p>Scientific studies and reviews continue to show no relationship between vaccines and autism</p>
        <p>Vaccines cause “herd immunity,” which means if the majority of people in a community have been vaccinated against a disease, an unvaccinated person is less likely to get sick because others are less likely to get sick and spread the disease.</p>
        <p>Vaccines helped reduce measles deaths globally by 78% between 2000 and 2008. In sub-Saharan Africa, deaths dropped by 92% in the same period.</p>
        </strong>
        <div class="container mt-5 mx-0" *ngIf="authservice.currentUser.userName===''">
          <strong><p>Please Login to Book your slot </p></strong>
          <button (click)="NavigateSignIn()" class="btn btn-success">Login</button>
        </div>
        
    </div>
  </div>
</div>
